/*
Color Scheme
dark blue: #142559
orange-yellow: #F2BB13;
orange: #F25F29;
*/

body {
	font-size: 100%;
	text-align: left;
	color: #333;
	/*background-image: radial-gradient(ellipse closest-side,
rgba(0,0,0,0), rgba(0,0,0,0.2)), url("../images/sprinkles_light.png");*/
	/*background: url("../images/sprinkles_light.png");*/
	font-family: 'Open Sans', sans-serif;
}

header {
	/*max-width: 1200px;*/
	/*margin-left: auto;
	margin-right: auto;*/
	width: 100%;
	background-image: url("../images/banner.jpg");
	background-size: cover;
	margin-bottom: 60px;
}

header h1 {
	color: white;
	font-size: 2.0em;
	line-height: 1.4em;
	font-weight: 300;
}

header h4 {
	margin: 12px 0px 10px 0px;
	color: white;
	font-weight: 300;
	font-size: 1.2em;
}

header h5{
	display: inline;
	font-size: 1.4em;
	line-height: 1.4em;
	white-space: nowrap;
	color: #45d5da;
	font-weight: 300;
}

h2, h3, h4, span {
	font-weight: 600;
	margin: 10px 0px;
}

h1 {
	font-size: 1.75em;
	margin: 5px 0px;
}

span, h4 {
	margin: 7px 2px;
	font-weight: 400;
}

h2 {
	font-size: 1.5em;
	font-weight: 400;
	margin-left: 2%;
	color: #237580;
}

h3 {
	font-size: 1.2em;
	font-weight: 600;
	line-height: 1.2em;
}

.banner-video {
	display: none;
}

.banner-video iframe{
	
	opacity: 1;
}

.title-holder {
	text-align: center;
	/*background-color: black;*/
	padding: 40px 0px 60px 0px;
	/*height: 100%;*/
	/*padding-bottom: 2%;
	padding-left: 4%;*/
	
	/*background: rgba(0,0,0,0.7);*/
	/*text-shadow: 0px 0px 11px rgba(150, 150, 150, 1);*/
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#about-me {
	/*width: 34%;*/
	width: 95%;
	margin: 20px 0px;
	max-width: 1150px;
	/*float: right;*/
}


#about-me p{
	color: #5a5a5a;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.4em;
	/*float: right;*/
	/*border: 1px gray solid;*/
}

#about-me h2 {
	text-align: center;
	/*color: #4C8747;*/
	margin-bottom: 40px;
	margin-top: 35px;
	/*display: none;*/
}

#about-me h3{
	font-size: 1.2em;
	/*float: right;*/
	/*border: 1px gray solid;*/
}

#about-me, #my-work {
	margin: 40px auto 40px auto;
	padding: 0 0 0 0;
	color: #333;
	/*max-width: 800px;*/
	/*border: 1px red solid;*/
}

.no-dec {
	text-decoration: none;
}

.no-dec:hover {
	opacity: .7;
}

#my-work {
	/*width: 65%;*/
	width: 100%;
	float: none;
	max-width: 1200px;
	/*float: left;*/
}

#my-work h2 {
	text-align: center;
	/*color: #4C8747;*/
}



#my-work h3 {
	color: #333;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 90%;
}

#my-work p, a {
	/*width: 65%;*/
	/*margin: 0px auto;*/
	color: #333;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.4em;
}

a {
	white-space: nowrap;
}

.color-divider {
	/*border: 1px red solid;*/
	background-image: url("../images/colorbar.png");
	height: 1px;
	width: 80%;
	margin: 15px auto 30px auto;
	/*display: none;*/
}

.about-item {
	width: 50%;
	float: left;
	margin-bottom: 40px;
	margin-top: 15px;
}

.about-holder {
	/*width: 100%;*/
	position: relative;
	
	/*height: 300px;*/
	/*display: inline-block;*/
	/*border: 1px red solid;*/
	
	margin: 0px 10px;
	padding: 0px;
	padding-left: 100px;
	/*background-color: green;*/
	text-align: left;
}

/*.about-holder:hover .icon-container {
	background-color: #E5F3E4;
}*/

.about-holder img{
/*	width: 7%;
	min-width: 50px;
	opacity: .7;*/
}

.about-holder p{
	width: 95%;
	/*margin: 2% 10% 16% 10%;*/
	/*margin: 2% 10% 10% 10%;*/
	/*width: 100%;
	float: left;*/
}

.about-holder h3{
	/*margin: 2% 10% 16% 10%;*/
	margin-top: 0;
}

.logo-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 80px;
	height: 80px;
	text-align: center;
	margin-right: 20px;
}

.venture-logo {
	width: 100%
}

.icon-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 80px;
	height: 80px;
	text-align: center;
/*	min-width: 50px;
	min-height: 50px;*/
	/*opacity: .7;*/
	margin-right: 20px;
	/*padding: 5%;*/
/*	border: 1px solid #e5e5e5;
	border: 1px solid #ccc;*/
    border-radius: 50%;
    /*background-color: #eee;*/
   /* background-color: #5AD3D1;*/
    background-color: #237580;
}

.icon-container img{
	width: 50%;
	margin-top: 8%;
	visibility: hidden;
}

.icon-container svg{
	width: 50%;
	margin-top: 8%;
	visibility: visible;
}

svg path{
	/*fill: #4c937d;*/
/*	fill: #18525e;
	fill: #237580;*/
	fill: white;
}

.portfolio-item-holder {
	/*width: 95%;*/
	/*margin: 30px 0px 65px 0px;*/
	width: 100%;
	margin: 45px auto 45px auto;

	margin-bottom: 2%;
	position: relative;
	border-top: 1px #ccc solid;
	/*cursor: pointer;*/	
	/*border-right: 1px gray solid;
	padding-right: 1%;*/
	/*border-right: 1px gray solid;*/
	/*float: right;*/

}

/*.portfolio-item-holder {
		border-right: none;
		width: 100%;
		float: none;
		margin-bottom: 2%;
		position: relative;
		border-top: 1px #ccc solid;
	}*/

.portfolio-item-holder:hover .play-holder {
/*	visibility: visible;*/
	opacity: .4;
}

.portfolio-item-holder:hover .play-holder-dark {
	opacity: 1;
}

/*.portfolio-item-holder:hover .portfolio-caption-background {*/
/*.play-holder-dark:hover  {
	opacity: 1;
}*/

.portfolio-item {
	width: 65%;
	float:left;
	/*position: relative;*/
	/*border: 1px blue solid;*/
	/*height: 100%;*/
	position: relative;
	cursor: pointer;
}

div.selected .portfolio-item {
	width: 80%;
}

.back-img{
	width: 100%;
}


.portfolio-caption-background {
	width: 35%;
	position: absolute;
	right: 0px;
	/*left: auto;*/
	height: 100%;
	overflow: hidden;
	/*width: 100%;*/
	/*height: 120px;*/
	/*margin: 0px auto;*/
/*	position: relative;*/
	/*bottom: 0px;
	left: 0px;*/
	opacity: .7;
	/*border: 1px blue solid;*/
	/*height: 100%;*/
	/*float: left;*/
}

div.selected .portfolio-caption-background {
	width: 20%;
}



.portfolio-caption-background p{
	width: 90%;
}

.play-holder {
	width: 15%;
	position: absolute;
	bottom: 30%;
	right: 3%;
	opacity: .1;
	/*background: rgba(0,0,0,0.3);*/
	text-align: center;
}

.play-holder p{
	display: none;
}

.portfolio-item-text {
	/*border: 1px green solid;*/
	width: 95%;
	margin-top: 2%;
	margin-left: 5%;
	padding-top: 0;
}

.portfolio-item-text p {
	width: 95%;
}

.play-holder:hover {
	opacity: .8;
}

.play-holder img{
	width: 80%;
}

.play-holder p {
	font-size: 1.8em !important;
	color: white !important;
	margin: 0px !important;
	width: 100% !important;
	padding: 0px;
}

.play-holder-dark {
	/*display: none;*/
	text-align: center;
	width: 15%;
	min-width: 120px;
	position: absolute;
	top: auto;
	right: auto;
	bottom: 2px;
	opacity: .5;
	cursor: pointer;
	margin-left: 10px;
}

.play-holder-dark img{
	width: 50%;
}

.play-holder-dark p{
	font-size: 1.2em !important;
	margin: 0px !important;
	width: 100% !important;
}



.see-more {
	width: 80px;
/*	height: 40px;*/
	display: block;
	/*margin: 0px auto;*/
	/*position: absolute;
	bottom: -20px;
	right: 10px;*/
	padding: 10px;
	text-align: center;
	background-color: #333;
	border-radius: 10px;
	text-decoration: none;
	color: #ccc;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 1em;
	line-height: .9em;
	white-space: normal;
	/*border: 1px blue solid;*/
	/*opacity: .90;*/
	margin-top:-20px;
}

.videoWrapper {
	position: relative;
	/*padding-bottom: 56.25%;*/ /* 16:9 */
	/*padding-bottom: 53.5%;*/ /* What Pete Thinks is Correct */
	padding-bottom: 53.5%;
	padding-top: 25px;
	height: 0;
	background-color: black;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*.see-more {

	border: 1px green solid;
}*/

.hidden {
	display: none;
}

.shown {
	
}
.item1 {
	/*background-color: #F2BB13;*/
}

.item2 {
	/*background-color: #F25F29;*/
}



#chart-div {
	display: none;
	/*border: 1px blue solid;*/
	width: 100%;
	/*margin: 1% 1%;*/
	float: left;
}

.chart-holder1 {
	width: 0%;
	/*border: 1px red solid;*/
	margin: 2% 2%;
	float: left;
}

.chart-holder2 {
	width: 95%;
	/*height: 20%;*/
	border: 1px red solid;
	margin: 4% 4%;
	float: left;
}

.chart-holder3 {
	width: 95%;
	/*border: 1px red solid;*/
	margin: 4% 4%;
	float: left;
}

.chart-holder {
	/*float: right;*/
}



#chart-1, #chart-2 {
	/*float: left;*/
	/*border: 1px green solid;*/
	/*background-color: green;*/
}

@media screen and (max-width: 1024px) {
 
	h3 {
		font-size: 1em !important;
	} 

	span, p {
		font-size: .75em !important;
	}

	.play-holder-dark p{
		font-size: 1em !important;
	}

	#crit-think-link {
		display: none;
	}
}

@media screen and (max-width: 900px) {

	.play-holder-dark {
		min-width: 75px;
		bottom: -5px;
	}
}

@media screen and (max-width: 760px) {

	.portfolio-item-holder {
		border: none;
		width: 100%;
		float: none;
		margin-bottom: 7%;
		position: relative;
	}

	.portfolio-item {
		width: 100%;
		float: none;
	}

	div.selected .portfolio-item {
		width: 100%;
	}

	.portfolio-caption-background {
		float: none;
		position: relative;
		overflow: visible;
		width: 100%;
	}

	div.selected .portfolio-caption-background {
		width: 100%;
	}

	.portfolio-item-text p {
		width: 70%;
	}

	.play-holder-dark {
		/*position: relative;*/
		top: 0px;
		right: 0px;
		float: right;
		
	}

	.play-holder-dark p {
		font-size: 1em !important;
	}

	.portfolio-item-text {
		width: 97%;
		margin-left: 3%;
		padding-top: 0;
	}

}


@media screen and (max-width: 650px) {

	body {
		-webkit-text-size-adjust: 100%;
	}

	header {
		margin-bottom: 20px;
	}
	
	#about-me, #my-work {
		margin: 20px auto 20px auto;
	}

	h1 {
		font-size: 1.2em !important;
	}

	h2 {
		font-size: 1em !important;
		margin-bottom: 5px !important;
	}

	h3 {
		font-size: .9em !important;
	} 

	h5 {
		font-size: .9em !important;
	}

	span, p, h4 {
		font-size: .75em !important;
	}

	header h4 {
		margin: 8px 0px 6px 0px;
		font-size: .75em !important;
	}

	.title-holder p, h4{
		font-size: .7em !important;
	}

	.about-holder {
		padding: 0 0 0 80px;
	}

	.about-item {
		width: 100%;
		margin: 20px 0px;
	}

	.icon-container, .logo-container{
		width: 60px;
		height: 60px;
	}

	.icon-container svg {
    	margin-top: -2px;
	}



	.portfolio-item-holder {
		margin: 5% auto 45px auto;
		margin-bottom: 10%;
		margin-top: 30px;
	}

	.play-holder-dark {
		min-width: 80px;
		right: 10px;
		top: 10px;
	}

	.play-holder-dark p{
		font-size: 1em !important;
	}
}
